/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* GENERAL */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

/* CONTAINER */
.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* HEADER */
header {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid hsl(220, 14%, 75%);

    position: relative;
}

/*  NAV FOR DESKTOP*/
.nav-content {
    display: flex;
    gap: 2rem 0;
}
.nav-item {
    list-style: none;
}
.nav-link {
    height: 100%;
    overflow: hidden;
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    padding-block: 2rem;
    margin-inline: 0.75rem;
    position: relative;
    cursor: pointer;
}
/* HOVER FOR NAV DESKTOP */
.nav-link:hover {
    color: hsl(0, 0%, 0%);
}
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: hsl(26, 100%, 55%);
    transition: .5s ease-in-out;
}
.nav-link:hover::after {
    left: 0;
}
/* CONTAINER WHERE THE CART ICON AND IMG PROFILE ARE */
.cart-profile {
    width: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.cart-profile img {
    cursor: pointer;
}
.profile-photo {
    width: 30%;
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
.cart-icon {
    position: relative;
}
.cart-quantity {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;

    background-color: hsl(26, 100%, 55%);
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;

    font-size: 0.5rem;
    color: hsl(100, 100%, 100%);
}
/* CLASS TO SEE THE CART'S CONTENT */
.view-cart {
    width: 350px;
    height: 0;
    overflow: hidden;
    transition: 1s ease-in-out;

    background: hsl(100, 100%, 100%);
    box-shadow: 1px 3px 9px 0px hsl(0deg 0% 0% / 50%);
    border-radius: 8px;

    position: absolute;
    top: calc(100%);
    right: 0;
}
/* TITLE FOR THE CART */
.title-cart {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    padding: 8px 8px 16px;
    border-bottom: 1px solid hsl(220, 14%, 75%);;
}
/* BUTTON CHECKOUT OF THE CART*/
.checkout-row {
    margin-top: 1rem;
}
.checkout-container {
    width: 100%;
}
.btn-checkout {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(26, 100%, 55%);
    background-color: hsl(26, 100%, 55%);
    color: hsl(100, 100%, 100%);
    font-weight: 700;
    font-size: 0.75rem;
    cursor: pointer;
}
/* MAIN */
main {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 3rem;
}

.products,
.description {
    width: 45%;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products img {
    cursor: pointer;
}
.main-product {
    width: 375px;
    height: 375px;

    border-radius: 16px;
}
.more-products {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 32px;
}
.more-products div {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    background-color: hsl(100, 100%, 100%);
}
.more-products div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.shown-product {
    border: 3px solid hsl(26, 100%, 55%);
    overflow: hidden;
}
.shown-product img {
    filter: opacity(0.5);  
    border-radius: unset !important;
}

/*  HOVER   */
.more-products img:hover {
    filter: opacity(0.5);  
}

.description h3 {
    font-weight: 700;
    font-size: 0.75rem;
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;

    margin-bottom: 16px;
}
.description h1 {
    font-size: 3rem;
    color: hsl(0, 0%, 0%);

    margin-bottom: 32px;
}
.description p {
    color: hsl(219, 9%, 45%);
    line-height: 1.5;

    margin-bottom: 24px;
}

.prices {
    width: max-content;
    position: relative;

    padding-right: 80px;
}
.price {
    margin-bottom: 16px;
}
.desct {
    font-size: 1rem;
    color: hsl(26, 100%, 55%);;

    background: hsl(25, 100%, 94%);
    padding: 8px 12px;
    border-radius: 8px;

    position: absolute;
    top: 0;
    right: 0;
}
.total-price {
    font-size: 1rem;
    color:  hsl(220, 14%, 75%);
    text-decoration: line-through;

    margin-bottom: 32px;
}

.selling {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.increasing {
    width: 40%;

    background: hsl(223, 64%, 98%);

    padding: 16px 8px;
    border-radius: 8px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.minus-img,
.plus-img {
    cursor: pointer;
    padding: 8px;
}
.quantity {
    font-weight: 700;
}
.adding {
    width: 55%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: hsl(100, 100%, 100%);
    background: hsl(26, 100%, 55%);

    padding: 18px 12px;
    border-radius: 8px;

    cursor: pointer;
}
.adding span {
    margin-left: 1rem;
    font-weight: bold;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p {
    margin-inline: 0.5rem;
}

/*  JS  */
.cart-quantity.empty {
    display: none;
}
.show-cart {
    height: 225px;
}
.cart-container {
    height: calc(100% - 45px);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-cart {
    width: fit-content;
    color: hsl(219, 9%, 45%);
    font-weight: bold;
}
.empty-cart.empty {
    display: none;
}
.cart-table {
    width: 100%;
    margin: 0 1rem;
    overflow: hidden;
}
.cart-table.empty {
    display: none;
}
.cart-table tr {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-product {
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 4px;
}
.cart-info {
    width: auto;
    height: 30px;
}
.cart-info tr {
    height: 25px;
    display: flex;
    justify-content: flex-start;
}
.total-container {
    margin-left: 1rem;
}
.total {
    font-weight: 700;
}
.cart-trash {
    width: 20px;
    height: 22px;

    cursor: pointer;
}

/* Light box */
.light-box {
    width: 100%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;

    display: grid;
    place-items: center;
    filter: opacity(0);
    transition: 0.25s ease-in-out;

    background-color: rgba(0, 0, 0, 0.75);
}
.main-light-box {
    position: relative;
}
.light-box-img {
    width: 375px;
    height: 375px;

    border-radius: 16px;
}
.more-products-light-box {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 32px;
}
.more-products-light-box div {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    background-color: hsl(100, 100%, 100%);
}
.more-products-light-box div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
/* To change the light box img*/
.light-box-next,
.light-box-previous {
    width: 50px;
    height: 50px;

    background-color: hsl(100, 100%, 100%);
    border-radius: 50%;

    display: grid;
    place-items: center;

    position: absolute;
    top: calc(50% - 25px);

    cursor: pointer;
}
.light-box-next {
    right: -25px;
}
.light-box-previous {
    left: -25px;
}

/* To close the close the light box */
.light-box-close {
    position: absolute;
    top: -35px;
    right: 0;
}
.light-box-close img {
    color: hsl(100, 100%, 100%);
}

/* PORTATIL DESIGN */
@media (max-width: 1024px) {
    main {
        width: 90%;
    }
}